:root{
    --logo-aurora: #BD9464;
    --logo-construtora: #AAAAAA;
    --cor-letra: #FFFFFF;
    --titulo-cinza: #D4D4D4;
    --cor-fundo: #17242A;
    --segundo-fundo: #0A1317;
    --cards: #1F323A;
    --diponivel: #95D5A6;
    --andamento: #E6D99E;
    --descricao: #999999;
    --dormitorio: #041D28;
    --letra-dormitorio: #E5D2BD;
    --whatsapp: #95D5A6;
    --linha-footer: #2A373D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    background: linear-gradient(to right, var( --cor-fundo) 0%, #0F3242 49%, var(--cor-fundo) 100%);
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #BD9464 0%, #856846 55%, #BD9464 100%) 1;
}

.logo{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.logo h1{
    font-family: 'Cormorant Garamond', sans-serif;
    color: var(--logo-aurora); 
}

.logo h2{
    font-family: 'Content', sans-serif;
    font-size: 16px;
    color: var(--logo-construtora);
}

ul{
    display: flex;
    gap: 20px;
    list-style: none; 
}

li .topico{
    text-decoration: none;
    color: var(--cor-letra);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-left: 25px;
    transition: 0.3s;
}

.topico:hover{
    color: #ecbd89;
}

.fale-conosco-btn{
    text-decoration: none;
    color: #BD9464;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 35px;
    border: 3px solid var(--logo-aurora);
    transition: 0.3s;
}

.fale-conosco-btn:hover{
    background: var(--logo-aurora);
    color: var(--dormitorio);
}

.container-banner h3{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #BD9464;
    margin-bottom: 3px;
}

.container-banner h1{
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 400;
    color: #D4D4D4;
    margin-bottom: 25px;
}

.container-banner p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.btn{
    display: flex;
    gap: 20px;

}

.btn .projetos{
    text-decoration: none;
    color: var(--cor-fundo);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 23px 30px;
    background-color: #BD9464;
    transition: 0.3s;
}

.btn .projetos:hover{
    transform: scale(1.05);
    background-color: #cf9e66;
}

.btn .consultor{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 35px;
    border: 4px solid var(--cor-letra);
    transition: 0.3s;
}

.btn .consultor:hover{
    transform: scale(1.05);
    background-color: #FFFFFF;
    color: #041D28;
}





