:root{
    --logo-aurora: #BD9464;
    --logo-construtora: #AAAAAA;
    --cor-letra: #FFFFFF;
    --titulo-cinza: #D4D4D4;
    --cor-fundo: #17242A;
    --segundo-fundo: #0A1317;
    --cards: #1F323A;
    --diponivel: #95D5A6;
    --andamento: #E6D99E;
    --descricao: #999999;
    --dormitorio: #041D28;
    --letra-dormitorio: #E5D2BD;
    --whatsapp: #95D5A6;
    --linha-footer: #2A373D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background: linear-gradient(var( --cor-fundo) 0%, #0F3242 49%, var(--cor-fundo) 100%);
}

.logo{
    display: flex;
    align-items: baseline;
    gap: 8;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none; 
}





