:root{
    --logo-aurora: #BD9464;
    --logo-construtora: #AAAAAA;
    --cor-letra: #FFFFFF;
    --titulo-cinza: #D4D4D4;
    --cor-fundo: #17242A;
    --segundo-fundo: #0A1317;
    --cards: #1F323A;
    --diponivel: #95D5A6;
    --andamento: #E6D99E;
    --descricao: #999999;
    --dormitorio: #041D28;
    --letra-dormitorio: #E5D2BD;
    --whatsapp: #95D5A6;
    --linha-footer: #2A373D;
}

